In [25]:
import pandas as pd
import numpy as np

In [46]:
pf=pd.read_excel("ConectividadalserviciodeInternet_2776151688780886140.xlsx")

pf["Latitud"] = pf["Latitud"].astype(str).str.replace(".", "",regex=True).str.replace(",", ".",regex=True)
pf["Longitud"] = pf["Longitud"].astype(str).str.replace(".", "",regex=True).str.replace(",", ".",regex=True)

pf[["Latitud","Longitud"]]=pf[["Latitud","Longitud"]].astype(float)
pf['link'] = pf['link'].fillna(0)

pf["link"] = pf["link"].astype(int)


pf[['ADSL', 'CABLEMODEM','DIALUP', 'FIBRAOPTICA', 'SATELITAL',
    'WIRELESS', 'TELEFONIAFIJA', '3G','4G']]= pf[['ADSL', 'CABLEMODEM','DIALUP', 'FIBRAOPTICA', 'SATELITAL',
    'WIRELESS', 'TELEFONIAFIJA', '3G','4G']].astype(str).replace("--","NO")

pf.to_excel("ConectividadalserviciodeInternet_2776151688780886140.xlsx",index= False)
pf.head()

c:\Users\Samuel\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,NO,NO,NO,NO,NO,NO,NO,SI,SI,6056020,-38.647261,-62.320022
1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,NO,NO,NO,NO,NO,NO,NO,NO,NO,6056020,-38.776507,-62.185183
2,BUENOS AIRES,Balcarce,Balcarce,38376,SI,SI,SI,SI,NO,SI,SI,SI,SI,6063010,-37.848278,-58.255167
3,BUENOS AIRES,Balcarce,Los Pinos,337,NO,NO,NO,NO,NO,SI,SI,NO,NO,6063020,-37.941206,-58.322592
4,BUENOS AIRES,Balcarce,Napaleofú,374,NO,NO,NO,SI,NO,SI,SI,SI,SI,6063030,-37.625498,-58.746186

In [132]:
# Cargar el DataFrame desde el archivo CSV
df = pd.read_csv("Distribución de los accesos totales nacionales a Internet fijo por velocidad de bajada (último trimestre disponible).csv")

# Eliminar la columna "Unnamed: 11"
df = df.drop("Unnamed: 11", axis=1)
# convertimos todas las columnas a str para poder aplicar el replace y eliminar el "." que es un separador de miles
df=df.astype(str)
df = df.applymap(lambda x: x.replace('.', '') if isinstance(x, str) else x)


# se procede a convertir las columnas necesarias a enteros
df[["Trimestre",'Hasta 512 kbps', 'Entre 512 Kbps y 1 Mbps',
       'Entre 1 Mbps y 6 Mbps', 'Entre 6 Mbps y 10 Mbps',
       'Entre 10 Mbps y 20 Mbps', 'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps',
       'OTROS', 'Total']] = df[["Trimestre",'Hasta 512 kbps', 'Entre 512 Kbps y 1 Mbps',
       'Entre 1 Mbps y 6 Mbps', 'Entre 6 Mbps y 10 Mbps',
       'Entre 10 Mbps y 20 Mbps', 'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps',
       'OTROS', 'Total']].astype(int)

# la columna Año se convierte a formato date y solo se mantiene el año
df["Año"] = pd.to_datetime(df["Año"]).dt.strftime('%Y')
df.to_excel('Distribución de los accesos totales nacionales a Internet fijo por velocidad de bajada (último trimestre disponible)modificado.xlsx', index=False)
df.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
1,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
2,2022,1,3489,10484,1263273,1209148,967508,509830,6336187,198333,10624009
3,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794
4,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,10085541

In [133]:
df1=pd.read_csv("Ingresos trimestrales de los operadores por el servicio de Internet fijo.csv")
df1=df1[['Año', 'Trimestre', 'Ingresos (miles de pesos)']]

#se realizo la busqueda historica de la cotizacion del dolar por el año y se realiza la conversion
df1.loc[df1['Año'] == 2022, 'Cotizacion dolar'] = 175.39
df1.loc[df1['Año'] == 2021, 'Cotizacion dolar'] = 101.96
df1.loc[df1['Año'] == 2020, 'Cotizacion dolar'] = 83.62
df1.loc[df1['Año'] == 2019, 'Cotizacion dolar'] = 58.43
df1.loc[df1['Año'] == 2018, 'Cotizacion dolar'] = 36.96
df1.loc[df1['Año'] == 2017, 'Cotizacion dolar'] = 18.48
df1.loc[df1['Año'] == 2016, 'Cotizacion dolar'] = 15.82
df1.loc[df1['Año'] == 2015, 'Cotizacion dolar'] = 12.90
df1.loc[df1['Año'] == 2014, 'Cotizacion dolar'] = 8.48

# se convierte la columna a str para realizar la aliminacion de los puntos como separadores de miles luego se convierte en entero
df1['Ingresos (miles de pesos)'] = df1["Ingresos (miles de pesos)"].astype(str)
df1["Ingresos (miles de pesos)"] = df1["Ingresos (miles de pesos)"].apply(lambda x: x.replace('.', '') if isinstance(x, str) else x)
df1['Ingresos (miles de pesos)'] = df1["Ingresos (miles de pesos)"].astype(int)


# se realiza la conversion de pesos argentinos a dolares segun el tipo de cambio historico anual
df1["ingresos (miles de dolares)"]= round(df1['Ingresos (miles de pesos)']/ df1["Cotizacion dolar"],2)    

df1.to_excel("Ingresos trimestrales de los operadores por el servicio de Internet fijo.xlsx", index=False)

df1.head()

,Año,Trimestre,Ingresos (miles de pesos),Cotizacion dolar,ingresos (miles de dolares)
0,2022,3,67055930,175.39,382324.70
1,2022,2,60335724,175.39,344008.92
2,2022,1,55589997,175.39,316950.78
3,2021,4,45467887,101.96,445938.48
4,2021,3,42999944,101.96,421733.46

In [52]:
pf2=pd.read_excel("Listadodelocalidadesconconectividadainternet_2750221688785281037.xlsx")
pf2[['ADSL', 'CABLEMODEM', 'DIALUP','FIBRAOPTICA', '4G', '3G', 'TELEFONIAFIJA', 'WIRELESS', 'SATELITAL']]=pf2[['ADSL', 'CABLEMODEM', 'DIALUP','FIBRAOPTICA', '4G', '3G', 'TELEFONIAFIJA', 'WIRELESS', 'SATELITAL']].astype(str).replace("--","NO")

pf2.to_excel("Listadodelocalidadesconconectividadainternet_2750221688785281037.xlsx",index= False)
pf2.head()

c:\Users\Samuel\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,NO,NO,NO,NO,SI,SI,NO,NO,NO
1,BUENOS AIRES,Bahía Blanca,Villa Espora,NO,NO,NO,NO,NO,NO,NO,NO,NO
2,BUENOS AIRES,Balcarce,Balcarce,SI,SI,SI,SI,SI,SI,SI,SI,NO
3,BUENOS AIRES,Balcarce,Los Pinos,NO,NO,NO,NO,NO,NO,SI,SI,NO
4,BUENOS AIRES,Balcarce,Napaleofú,NO,NO,NO,SI,SI,SI,SI,SI,NO

In [135]:
df3=pd.read_csv("Número de accesos al servicio de Internet fijo por banda ancha y banda angosta en cada provincia (trimestral).csv")

# Convertir las columnas selecionadas a formato str para luego su transformacion
df3[['Provincia','Banda ancha fija', 'Dial up','Total']]=df3[['Provincia','Banda ancha fija', 'Dial up','Total']].astype(str)

# Realizar limpieza de caracteres no numéricos en las columnas
df3[['Banda ancha fija', 'Dial up', 'Total']] = df3[['Banda ancha fija', 'Dial up', 'Total']].apply(lambda x: x.str.replace(r'\D', '', regex=True))

# Reemplazar el valor "- 0" por "0" en las columnas
df3[['Banda ancha fija', 'Dial up', 'Total']] = df3[['Banda ancha fija', 'Dial up', 'Total']].replace('- 0', '0')
# Reemplazar el valor "" por "0" en las columnas
df3[['Banda ancha fija', 'Dial up', 'Total']] = df3[['Banda ancha fija', 'Dial up', 'Total']].replace('', '0')


# Convertir las columnas a tipo entero (int)
df3[['Banda ancha fija', 'Dial up', 'Total']] = df3[['Banda ancha fija', 'Dial up', 'Total']].astype(int)

df3.to_excel("Número de accesos al servicio de Internet fijo por banda ancha y banda angosta en cada provincia (trimestral).xlsx", index=False)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    int32
 4   Dial up           840 non-null    int32
 5   Total             840 non-null    int32
dtypes: int32(3), int64(2), object(1)
memory usage: 29.7+ KB

In [136]:
df4=pd.read_csv("Número de accesos al servicio de Internet fijo por cada 100 hogares por provincia.csv")

df4["Accesos por cada 100 hogares"] = df4["Accesos por cada 100 hogares"].str.replace(',', '.')
df4["Accesos por cada 100 hogares"] = df4["Accesos por cada 100 hogares"].astype(float)

df4.to_excel("Número de accesos al servicio de Internet fijo por cada 100 hogares por provincia.xlsx",index=False)
df4.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          3     Buenos Aires                         78.11
1  2022          3  Capital Federal                        122.28
2  2022          3        Catamarca                         65.33
3  2022          3            Chaco                         43.86
4  2022          3           Chubut                         84.38

In [137]:
df5= pd.read_csv("Número de accesos al servicio de Internet fijo por tecnología en cada localidad declarada Categoría.csv")
df5= df5.drop("Unnamed: 13", axis=1)

# Realizar limpieza de caracteres no numéricos en las columnas
df5[['ADSL', 'CABLEMODEM','DIAL UP', 'FIBRA OPTICA', 'OTROS', 'SATELITAL', 'WIMAX', 'WIRELESS','Total general']]= df5[['ADSL', 'CABLEMODEM','DIAL UP', 'FIBRA OPTICA', 'OTROS', 'SATELITAL', 'WIMAX', 'WIRELESS','Total general']].apply(lambda x: x.str.replace(r'\D', '', regex=True))

# Convirtiendo las columnas en int
df5[['ADSL', 'CABLEMODEM','DIAL UP', 'FIBRA OPTICA', 'OTROS', 'SATELITAL', 'WIMAX', 'WIRELESS','Total general']]=df5[['ADSL', 'CABLEMODEM','DIAL UP', 'FIBRA OPTICA', 'OTROS', 'SATELITAL', 'WIMAX', 'WIRELESS','Total general']].astype(int)

df5.to_excel("Número de accesos al servicio de Internet fijo por tecnología en cada localidad declarada Categoría.xlsx", index=False)
df5.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4704,0,2,0,975,0,664,7218
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,6,167,0,0,327,1282
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6

In [138]:
df6=pd.read_csv("Número de accesos al servicio de Internet fijo por tipo de tecnología en cada provincia (trimestral).csv")
#se convierte todo a str para su manipulacion
df6=df6.astype(str)

#se elimina todos los valores no numericos de las columnas seleccionadas
df6[['Año', 'Trimestre','ADSL', 'Cablemodem', 'Fibra óptica','Wireless', 'Otros', 'Total']] = df6[['Año', 'Trimestre','ADSL', 'Cablemodem', 'Fibra óptica','Wireless', 'Otros', 'Total']].apply(lambda x: x.str.replace(r'\D', '', regex=True))

# se reemplazan los valores vacios por 0
df6[['Año', 'Trimestre','ADSL', 'Cablemodem', 'Fibra óptica','Wireless', 'Otros', 'Total']] = df6[['Año', 'Trimestre','ADSL', 'Cablemodem', 'Fibra óptica','Wireless', 'Otros', 'Total']].replace("","0")

# se convierte a tipo int las columnas seleccionadas
df6[['Año', 'Trimestre', 'ADSL', 'Cablemodem', 'Fibra óptica','Wireless', 'Otros', 'Total']]= df6[['Año', 'Trimestre', 'ADSL', 'Cablemodem', 'Fibra óptica','Wireless', 'Otros', 'Total']].astype(int)

# se elimina la fila 840 por estar vacia
df6=df6.drop(840)

df6.to_excel("Número de accesos al servicio de Internet fijo por tipo de tecnología en cada provincia (trimestral).xlsx", index=False)
df6.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,Buenos Aires,339648,2748325,1436433,126846,70416,4721668
1,2022,3,Capital Federal,140791,1240125,129218,5758,31787,1547679
2,2022,3,Catamarca,10010,10495,46224,1329,2235,70293
3,2022,3,Chaco,27164,61800,44645,8178,2359,144146
4,2022,3,Chubut,45377,72212,9574,29784,8831,165778

In [153]:
pf7=pd.read_csv("Número de accesos al servicio de Internet fijo por tipo de tecnología. Total nacional (trimestral).csv")

# se elimina la columna periodo puesto que ya se tiene la columna trimeste
pf7=pf7.drop("Periodo",axis=1)

# se convierte las columnas seleccionadas a tipo srt para su manipulacion
pf7[['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless','Otros', 'Total']]= pf7[['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless','Otros', 'Total']].astype(str)

# se eliminan todos los valores no numericos de las columnas 
pf7[['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless','Otros', 'Total']]= pf7[['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless','Otros', 'Total']].apply(lambda x: x.str.replace(r'\D', '', regex=True))

# se convierte las columnas seleccionadas a tipo int
pf7[['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless','Otros', 'Total']]= pf7[['ADSL', 'Cablemodem', 'Fibra óptica', 'Wireless','Otros', 'Total']].astype(int)

pf7.to_excel("Número de accesos al servicio de Internet fijo por tipo de tecnología. Total nacional (trimestral).xlsx", index=False)

pf7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     int32
 3   Cablemodem    35 non-null     int32
 4   Fibra óptica  35 non-null     int32
 5   Wireless      35 non-null     int32
 6   Otros         35 non-null     int32
 7   Total         35 non-null     int32
dtypes: int32(6), int64(2)
memory usage: 1.5 KB

In [190]:
pf8=pd.read_csv("Número de accesos al servicio de Internet fijo por velocidad de bajada en cada localidad declarada.csv")

pf8= pf8.astype(str)
pf8_format=pf8[['Otros','0,256 mbps', '0,375 mbps', '0,5 mbps', '0,512 mbps', '0,625 mbps',
       '0,75 mbps', '1 mbps', '1,25 mbps', '1,5 mbps', '2 mbps', '2,2 mbps',
       '2,5 mbps', '3 mbps', '3,3 mbps', '3,5 mbps', '4 mbps', '4,5 mbps',
       '5 mbps', '6 mbps', '6,4 mbps', '7 mbps', '7,5 mbps', '8 mbps',
       '9 mbps', '10 mbps', '11 mbps', '12 mbps', '13 mbps', '14 mbps',
       '15 mbps', '16 mbps', '17 mbps', '18 mbps', '19 mbps', '20 mbps',
       '21 mbps', '22 mbps', '23 mbps', '24 mbps', '25 mbps', '25,1 mbps',
       '25,11 mbps', '25,5 mbps', '26 mbps', '30 mbps', '31 mbps', '32 mbps',
       '34 mbps', '35 mbps', '36 mbps', '38 mbps', '39 mbps', '40 mbps',
       '41 mbps', '45 mbps', '46 mbps', '49 mbps', '50 mbps', '55 mbps',
       '58 mbps', '59 mbps', '60 mbps', '61 mbps', '62 mbps', '64 mbps',
       '65 mbps', '66 mbps', '70 mbps', '75 mbps', '78 mbps', '80 mbps',
       '82 mbps', '83 mbps', '85 mbps', '90 mbps', '92 mbps', '95 mbps',
       '100 mbps']]

pf8_format=pf8_format.apply(lambda x: x.str.replace('\D','',regex=True)).replace("",0)
pf8_format=pf8_format.astype(int)

pf8[['Otros','0,256 mbps', '0,375 mbps', '0,5 mbps', '0,512 mbps', '0,625 mbps',
       '0,75 mbps', '1 mbps', '1,25 mbps', '1,5 mbps', '2 mbps', '2,2 mbps',
       '2,5 mbps', '3 mbps', '3,3 mbps', '3,5 mbps', '4 mbps', '4,5 mbps',
       '5 mbps', '6 mbps', '6,4 mbps', '7 mbps', '7,5 mbps', '8 mbps',
       '9 mbps', '10 mbps', '11 mbps', '12 mbps', '13 mbps', '14 mbps',
       '15 mbps', '16 mbps', '17 mbps', '18 mbps', '19 mbps', '20 mbps',
       '21 mbps', '22 mbps', '23 mbps', '24 mbps', '25 mbps', '25,1 mbps',
       '25,11 mbps', '25,5 mbps', '26 mbps', '30 mbps', '31 mbps', '32 mbps',
       '34 mbps', '35 mbps', '36 mbps', '38 mbps', '39 mbps', '40 mbps',
       '41 mbps', '45 mbps', '46 mbps', '49 mbps', '50 mbps', '55 mbps',
       '58 mbps', '59 mbps', '60 mbps', '61 mbps', '62 mbps', '64 mbps',
       '65 mbps', '66 mbps', '70 mbps', '75 mbps', '78 mbps', '80 mbps',
       '82 mbps', '83 mbps', '85 mbps', '90 mbps', '92 mbps', '95 mbps',
       '100 mbps']]= pf8_format


columnas_a_combinar1 = ['0,256 mbps', '0,375 mbps', '0,5 mbps', '0,512 mbps', '0,625 mbps','0,75 mbps', '1 mbps']
columnas_a_combinar2 = ['1,25 mbps', '1,5 mbps', '2 mbps', '2,2 mbps','2,5 mbps', '3 mbps', '3,3 mbps', '3,5 mbps', '4 mbps', '4,5 mbps','5 mbps']
columnas_a_combinar3 = ['6 mbps', '6,4 mbps', '7 mbps', '7,5 mbps', '8 mbps','9 mbps', '10 mbps']
columnas_a_combinar4 = ['11 mbps', '12 mbps', '13 mbps', '14 mbps','15 mbps', '16 mbps', '17 mbps', '18 mbps', '19 mbps', '20 mbps']
columnas_a_combinar5 = ['21 mbps', '22 mbps', '23 mbps', '24 mbps', '25 mbps', '25,1 mbps','25,11 mbps', '25,5 mbps', '26 mbps', '30 mbps']
columnas_a_combinar6 = ['31 mbps', '32 mbps','34 mbps', '35 mbps', '36 mbps', '38 mbps', '39 mbps', '40 mbps','41 mbps', '45 mbps', '46 mbps', '49 mbps', '50 mbps']
columnas_a_combinar7 = ['55 mbps','58 mbps', '59 mbps', '60 mbps', '61 mbps', '62 mbps', '64 mbps','65 mbps']
columnas_a_combinar8 = ['66 mbps', '70 mbps', '75 mbps', '78 mbps', '80 mbps','82 mbps', '83 mbps', '85 mbps', '90 mbps', '92 mbps', '95 mbps','100 mbps']


# Crear una nueva columna que sea la suma de las columnas seleccionadas
pf8['>0.256 a 1 mps'] = pf8[columnas_a_combinar1].sum(axis=1)
pf8=pf8.drop(columnas_a_combinar1,axis=1)

pf8['>1 a 5 mps'] = pf8[columnas_a_combinar2].sum(axis=1)
pf8=pf8.drop(columnas_a_combinar2,axis=1)

pf8['>5 a 10 mps'] = pf8[columnas_a_combinar3].sum(axis=1)
pf8=pf8.drop(columnas_a_combinar3,axis=1)

pf8['>10 a 20 mps'] = pf8[columnas_a_combinar4].sum(axis=1)
pf8=pf8.drop(columnas_a_combinar4,axis=1)

pf8['>20 a 30 mps'] = pf8[columnas_a_combinar5].sum(axis=1)
pf8=pf8.drop(columnas_a_combinar5,axis=1)

pf8['>30 a 50 mps'] = pf8[columnas_a_combinar6].sum(axis=1)
pf8=pf8.drop(columnas_a_combinar6,axis=1)

pf8['>50 a 65 mps'] = pf8[columnas_a_combinar7].sum(axis=1)
pf8=pf8.drop(columnas_a_combinar7,axis=1)

pf8['>65 a 100 mps'] = pf8[columnas_a_combinar8].sum(axis=1)
pf8=pf8.drop(columnas_a_combinar8,axis=1)

pf8.to_excel("Número de accesos al servicio de Internet fijo por velocidad de bajada en cada localidad declarada.xlsx",index=False)
pf8.head()

pf8.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0,0,0,2,0,0,...,0,0,90,0,0,0,0,0,0,0
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,Provincia,Partido,Localidad,Link Indec,Otros,>0.256 a 1 mps,>1 a 5 mps,>5 a 10 mps,>10 a 20 mps,>20 a 30 mps,>30 a 50 mps,>50 a 65 mps,>65 a 100 mps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,0,21,230,616,5153,270,37,0,90
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,0,0,0,58,0,0,0,0,0
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,0,1,181,10,0,0,0,0,0
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,0,0,66,0,0,0,0,0,0
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,172,8,0,0,0,10,0

In [201]:
df9= pd.read_csv("Número de accesos al servicio de Internet fijo por velocidad de bajada en cada provincia (trimestral).csv")

df9[['HASTA 512 kbps','+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS','Total']]= df9[['HASTA 512 kbps','+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS','Total']].astype(str)
       
df9[['HASTA 512 kbps','+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS','Total']]= df9[['HASTA 512 kbps','+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS','Total']].apply(lambda x: x.str.replace("\D","",regex=True)).replace("",0)

df9[['HASTA 512 kbps','+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS','Total']]= df9[['HASTA 512 kbps','+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS','Total']].astype(int)

df9.to_excel("Número de accesos al servicio de Internet fijo por velocidad de bajada en cada provincia (trimestral).xlsx",index=False)
df9.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29985,27709,290315,297915,267044,12419,3618689,65821,4721668
1,2022,3,Capital Federal,5170,5742,34371,67829,51946,28692,1253105,105477,1547679
2,2022,3,Catamarca,710,3840,3107,5389,5099,3737,50298,2208,70293
3,2022,3,Chaco,4610,9870,16782,18938,8049,15828,79390,3711,144146
4,2022,3,Chubut,1090,1444,45707,3094,34682,15309,17563,20024,165778

In [222]:
df10=pd.read_csv("Número de accesos al servicio de Internet fijo por velocidad de bajada en cada provincia.csv")
df10=df10.astype(str)
df10_format= df10[['Otros', '0,256 Mbps', '0,375 Mbps',
       '0,625 Mbps', '0,5 Mbps', '0,512 Mbps', '0,75 Mbps', '1 Mbps',
       '1,2 Mbps', '1,25 Mbps', '1,5 Mbps', '2 Mbps', '2,2 Mbps', '2,5 Mbps',
       '6,7 Mbps', '3 Mbps', '3,2 Mbps', '3,3 Mbps', '3,5 Mbps', '4 Mbps',
       '4,5 Mbps', '5 Mbps', '6 Mbps', '6,4 Mbps', '7 Mbps', '7,5 Mbps',
       '8 Mbps', '9 Mbps', '10 Mbps', '10,6 Mbps', '11 Mbps', '12 Mbps',
       '13 Mbps', '14 Mbps', '15 Mbps', '16 Mbps', '17 Mbps', '18 Mbps',
       '19 Mbps', '20 Mbps', '21 Mbps', '22 Mbps', '23 Mbps', '24 Mbps',
       '25 Mbps', '25,1 Mbps', '25,11 Mbps', '25,5 Mbps', '26 Mbps', '28 Mbps',
       '29 Mbps', '30 Mbps', '31 Mbps', '32 Mbps', '34 Mbps', '35 Mbps',
       '36 Mbps', '37 Mbps', '38 Mbps', '39 Mbps', '40 Mbps', '41 Mbps',
       '45 Mbps', '46 Mbps', '47 Mbps', '48 Mbps', '49 Mbps', '50 Mbps',
       '51 Mbps', '52 Mbps', '54 Mbps', '55 Mbps', '56 Mbps', '58 Mbps',
       '59 Mbps', '60 Mbps', '61 Mbps', '62 Mbps', '63 Mbps', '64 Mbps',
       '65 Mbps', '66 Mbps', '67 Mbps', '68 Mbps', '70 Mbps', '71 Mbps',
       '75 Mbps', '77 Mbps', '78 Mbps', '80 Mbps', '81 Mbps', '83 Mbps',
       '82 Mbps', '86 Mbps']]

df10_format=df10_format.apply(lambda x: x.str.replace("\D","",regex=True)).replace("","0")
df10_format=df10_format.astype(int)

df10[['Otros', '0,256 Mbps', '0,375 Mbps',
       '0,625 Mbps', '0,5 Mbps', '0,512 Mbps', '0,75 Mbps', '1 Mbps',
       '1,2 Mbps', '1,25 Mbps', '1,5 Mbps', '2 Mbps', '2,2 Mbps', '2,5 Mbps',
       '6,7 Mbps', '3 Mbps', '3,2 Mbps', '3,3 Mbps', '3,5 Mbps', '4 Mbps',
       '4,5 Mbps', '5 Mbps', '6 Mbps', '6,4 Mbps', '7 Mbps', '7,5 Mbps',
       '8 Mbps', '9 Mbps', '10 Mbps', '10,6 Mbps', '11 Mbps', '12 Mbps',
       '13 Mbps', '14 Mbps', '15 Mbps', '16 Mbps', '17 Mbps', '18 Mbps',
       '19 Mbps', '20 Mbps', '21 Mbps', '22 Mbps', '23 Mbps', '24 Mbps',
       '25 Mbps', '25,1 Mbps', '25,11 Mbps', '25,5 Mbps', '26 Mbps', '28 Mbps',
       '29 Mbps', '30 Mbps', '31 Mbps', '32 Mbps', '34 Mbps', '35 Mbps',
       '36 Mbps', '37 Mbps', '38 Mbps', '39 Mbps', '40 Mbps', '41 Mbps',
       '45 Mbps', '46 Mbps', '47 Mbps', '48 Mbps', '49 Mbps', '50 Mbps',
       '51 Mbps', '52 Mbps', '54 Mbps', '55 Mbps', '56 Mbps', '58 Mbps',
       '59 Mbps', '60 Mbps', '61 Mbps', '62 Mbps', '63 Mbps', '64 Mbps',
       '65 Mbps', '66 Mbps', '67 Mbps', '68 Mbps', '70 Mbps', '71 Mbps',
       '75 Mbps', '77 Mbps', '78 Mbps', '80 Mbps', '81 Mbps', '83 Mbps',
       '82 Mbps', '86 Mbps']]= df10_format


columnas_a_combinar1 = ['0,256 Mbps', '0,375 Mbps','0,625 Mbps', '0,5 Mbps', '0,512 Mbps', '0,75 Mbps', '1 Mbps']
columnas_a_combinar2 = ['1,2 Mbps', '1,25 Mbps', '1,5 Mbps', '2 Mbps', '2,2 Mbps', '2,5 Mbps', '3 Mbps', '3,2 Mbps', '3,3 Mbps', '3,5 Mbps', '4 Mbps','4,5 Mbps', '5 Mbps']
columnas_a_combinar3 = ['6 Mbps', '6,4 Mbps', '6,7 Mbps','7 Mbps', '7,5 Mbps','8 Mbps', '9 Mbps', '10 Mbps']
columnas_a_combinar4 = ['10,6 Mbps', '11 Mbps', '12 Mbps','13 Mbps', '14 Mbps', '15 Mbps', '16 Mbps', '17 Mbps', '18 Mbps','19 Mbps', '20 Mbps']
columnas_a_combinar5 = ['21 Mbps', '22 Mbps', '23 Mbps', '24 Mbps','25 Mbps', '25,1 Mbps', '25,11 Mbps', '25,5 Mbps', '26 Mbps', '28 Mbps','29 Mbps', '30 Mbps']
columnas_a_combinar6 = ['31 Mbps', '32 Mbps', '34 Mbps', '35 Mbps','36 Mbps', '37 Mbps', '38 Mbps', '39 Mbps', '40 Mbps', '41 Mbps','45 Mbps', '46 Mbps', '47 Mbps', '48 Mbps', '49 Mbps', '50 Mbps']
columnas_a_combinar7 = ['51 Mbps', '52 Mbps', '54 Mbps', '55 Mbps', '56 Mbps', '58 Mbps','59 Mbps', '60 Mbps', '61 Mbps', '62 Mbps', '63 Mbps', '64 Mbps','65 Mbps']
columnas_a_combinar8 = ['66 Mbps', '67 Mbps', '68 Mbps', '70 Mbps', '71 Mbps','75 Mbps', '77 Mbps', '78 Mbps', '80 Mbps', '81 Mbps', '83 Mbps','82 Mbps', '86 Mbps']

df10['>0.256 a 1 mps'] = df10[columnas_a_combinar1].sum(axis=1)
df10=df10.drop(columnas_a_combinar1,axis=1)

df10['>1 a 5 mps'] = df10[columnas_a_combinar2].sum(axis=1)
df10=df10.drop(columnas_a_combinar2,axis=1)

df10['>5 a 10 mps'] = df10[columnas_a_combinar3].sum(axis=1)
df10=df10.drop(columnas_a_combinar3,axis=1)

df10['>10 a 20 mps'] = df10[columnas_a_combinar4].sum(axis=1)
df10=df10.drop(columnas_a_combinar4,axis=1)

df10['>20 a 30 mps'] = df10[columnas_a_combinar5].sum(axis=1)
df10=df10.drop(columnas_a_combinar5,axis=1)

df10['>30 a 50 mps'] = df10[columnas_a_combinar6].sum(axis=1)
df10=df10.drop(columnas_a_combinar6,axis=1)

df10['>50 a 65 mps'] = df10[columnas_a_combinar7].sum(axis=1)
df10=df10.drop(columnas_a_combinar7,axis=1)

df10['>65mps'] = df10[columnas_a_combinar8].sum(axis=1)
df10=df10.drop(columnas_a_combinar8,axis=1)
df10= df10.drop(480)
df10.to_excel("Número de accesos al servicio de Internet fijo por velocidad de bajada en cada provincia.xlsx",index=False)

df10.head()

,Año,Trimestre,Provincia,Otros,>0.256 a 1 mps,>1 a 5 mps,>5 a 10 mps,>10 a 20 mps,>20 a 30 mps,>30 a 50 mps,>50 a 65 mps,>65mps
0,2022.0,3.0,Buenos Aires,65821,57694,174171,414059,267044,843253,965377,405314,101776
1,2022.0,3.0,Capital Federal,105477,6259,21197,81003,51946,81748,361186,97850,30494
2,2022.0,3.0,Catamarca,2208,455,1280,7216,5099,3737,31597,0,0
3,2022.0,3.0,Chaco,3711,1448,9440,26280,8049,15839,45614,0,0
4,2022.0,3.0,Chubut,20024,1553,30054,46593,34682,16298,16122,0,0

In [215]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.3.0-py3-none-any.whl (119 kB)
                                              0.0/119.8 kB ? eta -:--:--
     -----------------------------           92.2/119.8 kB 2.6 MB/s eta 0:00:01
     -------------------------------------- 119.8/119.8 kB 1.8 MB/s eta 0:00:00
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
                                              0.0/40.3 kB ? eta -:--:--
     ---------------------------------------- 40.3/40.3 kB 1.9 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0

In [234]:
df11= pd.read_csv("Serie histórica de la velocidad media de descarga de Internet nacional (trimestral).csv")
df11=df11.drop("Trimestre.1",axis=1)
df11["Mbps (Media de bajada)"]=df11["Mbps (Media de bajada)"].str.replace(",",".")
df11["Mbps (Media de bajada)"]=df11["Mbps (Media de bajada)"].astype(float)

df11.to_excel("Serie histórica de la velocidad media de descarga de Internet nacional (trimestral).xlsx",index= False)
df11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Mbps (Media de bajada)  35 non-null     float64
dtypes: float64(1), int64(2)
memory usage: 968.0 bytes

In [239]:
df12=pd.read_csv("Serie histórica de la velocidad media de descarga de Internet por provincia (trimestral).csv")
df12=df12.drop(["Unnamed: 4","Unnamed: 5"], axis=1)

df12.to_excel("Serie histórica de la velocidad media de descarga de Internet por provincia (trimestral).xlsx",index= False)
df12

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2022          3         Buenos Aires                      70
1    2022          3      Capital Federal                     101
2    2022          3            Catamarca                      61
3    2022          3                Chaco                      53
4    2022          3               Chubut                      16
..    ...        ...                  ...                     ...
835  2014          1           Santa Cruz                       3
836  2014          1             Santa Fe                       3
837  2014          1  Santiago Del Estero                       3
838  2014          1     Tierra Del Fuego                       3
839  2014          1              Tucumán                       3

[840 rows x 4 columns]

In [261]:
df13=pd.read_csv("Serie trimestral de la penetración del Internet fijo en la métrica por cada 100 hogares.csv")
df13 = df13.drop("Periodo", axis=1)
df13[["Accesos por cada 100 hogares","Accesos por cada 100 hab"]]=df13[["Accesos por cada 100 hogares","Accesos por cada 100 hab"]].apply(lambda x:x.str.replace("\D","."))
df13[["Accesos por cada 100 hogares","Accesos por cada 100 hab"]]=df13[["Accesos por cada 100 hogares","Accesos por cada 100 hab"]].astype(float)
df13.to_excel("Serie trimestral de la penetración del Internet fijo en la métrica por cada 100 hogares.xlsx",index=False)
df13.head()

C:\Users\Samuel\AppData\Local\Temp\ipykernel_23096\2578737190.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df13[["Accesos por cada 100 hogares","Accesos por cada 100 hab"]]=df13[["Accesos por cada 100 hogares","Accesos por cada 100 hab"]].apply(lambda x:x.str.replace("\D","."))

    Año  Trimestre  Accesos por cada 100 hogares  Accesos por cada 100 hab
0  2022          3                         76.64                     23.95
1  2022          2                         75.97                     23.72
2  2022          1                         73.88                     23.05
3  2021          4                         73.18                     22.81
4  2021          3                         70.58                     21.98

In [273]:
df14=pd.read_csv("Total nacional de accesos a Internet fijo por banda ancha y banda angosta.csv")
df14=df14.drop("Periodo",axis=1)

df14[['Banda ancha fija', 'Dial up', 'Total']]=df14[['Banda ancha fija', 'Dial up', 'Total']].astype(str)
df14[['Banda ancha fija', 'Dial up', 'Total']]=df14[['Banda ancha fija', 'Dial up', 'Total']].apply(lambda x: x.str.replace("\D","",regex=True))
df14=df14.astype(int)
df14.to_excel("Total nacional de accesos a Internet fijo por banda ancha y banda angosta.xlsx",index= False)
df14.head()

    Año  Trimestre  Banda ancha fija  Dial up     Total
0  2022          3          11078691    12437  11091128
1  2022          2          10946248    12436  10958684
2  2022          1          10611390    12619  10624009
3  2021          4          10476933    12861  10489794
4  2021          3          10075184    10357  10085541